html{
  background-color: #f1f0ee;
}
.panel {
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
  background-color: salmon;
  color: navy;
}

.bigpanel{
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
  background-color: azure;
  color: red;
  min-height: 150px;
}

footer{
  color: black;
  background-color: #f1f0ee;
  padding:20px 0;
}
footer p{
  font-weight:bold
}
footer a{
 text-decoration: none;
 color: inherit;
}
.navbar{
  padding-top: 0em;
  background-color: #f1f0ee;
}

.logo{
  padding-bottom: 2em;
  padding-top: 2em;
}
.remove-bg{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
.our_focus{
  padding-top: 2em;
  color: white;
  background-color: rgba(92, 108, 124, 0.9);
}
.line-panel{
  color: white;
  background-color:rgba(43, 59, 82, 0.9);
}
.line-button{
  color: white !important;
}
.panel-line{
  background-color: rgb(89,110, 140) !important;
}
.list-group-line .list-group-item{
  color: white;
  background-color:rgba(43, 59, 82, 0.9);
}
.lines{
  background-color:rgba(43, 59, 82, 0.9);
  color: white;
  padding-top: 2em;
}
.doctors{
  padding-top: 2em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 2em;
  color: white;
  background-color: rgba(92, 108, 124, 0.9);
}
.doctor{
  margin-top: 8em;
}
.social-media
{
  margin-top: 1.5em;
}
.news{
  margin-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  color: white;
  background-color: #738277;
}
.section{
  padding-top: 10em;
  font-size: 120%;
}
.cover {
  background-image: url(../img/background-65.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#353635;
  color: black;
}
.inner{
  padding-top: 5%;
  background-color: rgba(112, 139, 129, 0.7);
  padding-bottom: 1%;
  color: white;
}
.accordion{
  color: black;
}
.panel-default > .panel-line {
  background-color: #f1f0ee;
}
.dicon{
  padding-right: 0.5em;
}
.publications
{
  padding-top: 2em;
  padding-bottom: 3em;
  color: white;
  background-color: rgba(92, 108, 124, 0.9);
  padding-left: 1em;
  padding-right: 1em;
}
@media (max-width: 600px) {
  .dicon {
    padding-right: 0em;
  }
}
