html, body{
  background-color: #f1f0ee;
}
.panel {
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
}
.navbar-title{
  color: #0078A9;
  margin-bottom: 0.1em;
}
.nav-link{
  font-size: 1.5em;
}
.dropdown-item{
  font-size: 1.2em;
}
nav{
  padding-top: 0em  !important;
  padding-bottom: 0em !important;
}
.bigpanel{
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
  background-color: azure;
  color: red;
  min-height: 150px;
}
footer{
  color: black;
  background-color: #f1f0ee;
  padding:20px 0;
}
footer p{
  font-weight:bold
}
footer a{
 text-decoration: none;
 color: inherit;
}
.navbar{
  background-color: #f1f0ee;
}
.logo{
  padding-bottom: 2em;
  padding-top: 2em;
}
.remove-bg{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
.our_focus{
  padding-top: 2em;
  color: white;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
.lines{
  color: white;
  margin-top: 1em;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
.line-panel{
  color: black;
}
.anchor{
  padding-top: 8em;
}

.doctors{
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
.new
{
  border-style: solid;
  border-width: thin;
  border-color: white;
  margin-bottom: 1em;
}
.doctor{
  margin-top: 1em;
}
.social-media
{
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.news{
  border-style: solid;
  border-width: thin;
  border-color: white;
  margin-top: 1em;
}
.section{
  padding-top: 8em;
  font-size: 120%;
}
.cover {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
.home-img{
  width: 100%;
  padding-bottom: 1em;
}
.line-button{
  font-size: 0.7em !important;
}
.dicon{
  padding-right: 0.5em;
}
.publications
{
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 3em;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
.contactus{
  margin-top: 2em;
}

@media only screen and  (max-width: 600px){
  .indent_contact
  {
    width: 80%;
  }
  html
  {
    font-size: 0.8em;
  }
  .navbar-title{
    padding-left: 0.35em;
  }
}
@media only screen and (min-width: 601px){
  .indent_contact
  {
    width: 20%;
  }
}
