.panel {
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
  background-color: salmon;
  color: navy;
}

.bigpanel{
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
  background-color: azure;
  color: red;
  min-height: 150px;
}

footer{
  color: black;
  background-color: #f1f0ee;
  padding:50px 0;
}
footer p{
  font-weight:bold
}
footer a{
 text-decoration: none;
 color: inherit;
}
.navbar{
  background-color: #f1f0ee;
}

.logo{
  padding-bottom: 2em;
  padding-top: 2em;
}
.lines{
  background-color: #EA2027;
  color: white;
  padding-top: 2em;
}
.goals{
  padding-top: 2em;
  color: white;
  background-color:#006266;
}
.doctors{
  padding-top: 2em;
  padding-right: 1em;
  padding-left: 1em;
  color: white;
  background-color: cornflowerblue;
}
.section{
  padding-top: 3em;
}
.cover {
  background-image: url(../img/cover_page_opacity.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  color: white;
  padding-bottom: 20em;
}
.inner{
  padding-top: 15%;
}
.accordion{
  color: black;
}